<p>signup works!</p>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Register Here</h1>
                </div>
                    <form>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Full Name</label>
                          <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="FullName">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email Address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="@gmail.com">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1">Mobile Number</label>
                            <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="mobile number">
                          </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary">SignUp</button>
                      </form>
                      <a routerLink="/login">Already Registered?Click to login</a>
                    </div>
        </div>
    </div>
    </div>